* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_1 {
    width: 1400px;
    display: flex;
    justify-content: space-between;     
    align-items: center;
}

.header__item {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.header__item p {
   font-size: 16px;
   font-weight: 300;
   line-height: 19.5px;
}

.header__item2 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item2 p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}


.header__item3 h4 {
    font-size: 24px;
    font-weight: 400;
    color: #342D6F;
    transition: all 1s;
}   

.header__item3 p {
    font-size: 12px;
    font-weight: 300;
    color: #EF7F1A;
}   


.header__item3 h4:hover {
    color: #4169E1;
}

.section_1 {
    height: 734px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_2 {
    width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.section_1__imageMan {
    position: relative;
    height: 600px;
    width: 450px;;
}

.section_1__imageMan__Fon {
    position: absolute;
}

.section_1__imageMan__Man {
    z-index: 1;
    position: absolute;
}

.section_1__text__top {
    font-size: 42px;
    font-weight: 600;
    color: #342D6F;
}

.section_1__text__top > span {
    color: #EF7F1A;
}

.section_1__text__top > b {
    font-weight: 800;
}

.section_1__text__condition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.section_1__text__condition__first {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section_1__text__condition__second {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section_1__text__condition__first > p {
    font-size: 16px;
}

.section_1__text__condition__second > p {
    font-size: 16px;
}

.section_1__text__condition__first > p > span {
    font-weight: 500;
}

.section_1__text__condition__second > p > span {
    font-weight: 500;
}

.section_1__text__button {
    width: 387px;
    height: 80px;
    background-color: #342D6F;
    border-radius: 40px;
    margin-top: 20px;
    transition: all 1s;
    border-color: #fff;
}

.section_1__text__button p {
    font-size: 18px;
    color: #fff;
}

.section_1__text__button:hover {
    background-color: #4169E1;
}

.section_1__text__bottom {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
}

.section_2 {
    width: 100%;
    height: 487px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
}

.container_3 {
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_3 h4 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.container_3 h4 span {
    color: #342D6F;
}

.container_3 p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}

.section_2__condition {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    gap: 100px;
}

.section_2__condition2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.section_2__condition2__inside {
    width: 470px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.section_2__condition2__inside_ellipse1 {
    width: 110px;
    height: 110px;
    background-color: #342D6F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_2__condition2__inside_ellipse2 {
    width: 110px;
    height: 110px;
    background-color: #EF7F1A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_2__condition2__inside_text h7 {
    font-size: 24px;
    font-weight: 400;
}

.section_2__condition2__inside_text p {
    font-size: 16px;
    font-weight: 300;
}