* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_1 {
    width: 1400px;
    display: flex;
    justify-content: space-between;     
    align-items: center;
}

.header__item {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.header__item p {
   font-size: 16px;
   font-weight: 300;
   line-height: 19.5px;
}

.header__item2 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item2 p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}


.header__item3 h4 {
    font-size: 24px;
    font-weight: 400;
    color: #342D6F;
    transition: all 1s;
}   

.header__item3 p {
    font-size: 12px;
    font-weight: 300;
    color: #EF7F1A;
}   


.header__item3 h4:hover {
    color: #4169E1;
}

/* section_1 */

.section_1 {
    height: 734px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_2 {
    width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.section_1__imageMan {
    position: relative;
    height: 600px;
    width: 450px;;
}

.section_1__imageMan__Fon {
    position: absolute;
}

.section_1__imageMan__Man {
    z-index: 1;
    position: absolute;
}

.section_1__text__top {
    font-size: 42px;
    font-weight: 600;
    color: #342D6F;
}

.section_1__text__top > span {
    color: #EF7F1A;
}

.section_1__text__top > b {
    font-weight: 800;
}

.section_1__text__condition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.section_1__text__condition__first {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section_1__text__condition__second {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section_1__text__condition__first > p {
    font-size: 16px;
}

.section_1__text__condition__second > p {
    font-size: 16px;
}

.section_1__text__condition__first > p > span {
    font-weight: 500;
}

.section_1__text__condition__second > p > span {
    font-weight: 500;
}

.section_1__text__button {
    width: 387px;
    height: 80px;
    background-color: #342D6F;
    border-radius: 40px;
    margin-top: 20px;
    transition: all 1s;
    border-color: #fff;
}

.section_1__text__button p {
    font-size: 18px;
    color: #fff;
}

.section_1__text__button:hover {
    background-color: #4169E1;
}

.section_1__text__bottom {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
}

/* seciton_2 */

.section_2 {
    width: 100%;
    height: 487px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
}

.container_3 {
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_3 h4 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.container_3 h4 span {
    color: #342D6F;
}

.container_3 p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}

.section_2__condition {
    margin-top: 65px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.section_2__condition2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.section_2__condition2__inside {
    width: 470px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.section_2__condition2__inside_ellipse1 {
    width: 110px;
    height: 110px;
    background-color: #342D6F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_2__condition2__inside_ellipse2 {
    width: 110px;
    height: 110px;
    background-color: #EF7F1A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_2__condition2__inside_text h7 {
    font-size: 24px;
    font-weight: 400;
}

.section_2__condition2__inside_text p {
    font-size: 16px;
    font-weight: 300;
}

/* section_3 */

.section_3 {
    display: flex;
    justify-content: center;
    height: 930px;
    width: 100%;
}

.container_4 {
    height: 100%;
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_4 h3 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
}

.container_4 p {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
}

.container_4__price {
    margin-top: 50px;
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container_4__price_pointsLeft {
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.container_4__price_pointsRight {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.container_4__price_points_point {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #342D6F;
    width: 335px;
    height: 95px;
    border-radius: 50px 0 0 0;
    transition: all 1s;
}

.container_4__price_points_point p {
    color: #ffff;
    text-align: center; 
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.container_4__price_points_point1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EF7F1A;
    width: 335px;
    height: 95px;
    border-radius: 50px 0 0 0;
    transition: all 1s;
}

.container_4__price_points_point1 p {
    color: #ffff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.container_4__price_points_point2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #342D6F;
    width: 335px;
    height: 95px;
    border-radius: 50px 0 0 0;
    transition: all 1s;
}

.container_4__price_points_point2 p {
    color: #ffff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.container_4__price_points_point3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EF7F1A;
    width: 335px;
    height: 95px;
    border-radius: 0 50px 0 0;
    transition: all 1s;
}

.container_4__price_points_point3 p {
    color: #ffff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.container_4__price_points_point4 p {
    color: #ffff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.container_4__price_points_point4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #342D6F;
    width: 335px;
    height: 95px;
    border-radius: 0 50px 0 0;
    transition: all 1s;
}

.container_4__price_points_point5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EF7F1A;
    width: 335px;
    max-width: 335px;
    height: 95px;
    border-radius: 0 50px 0 0;
    transition: all 1s;
}

.container_4__price_points_point5 p {
    color: #ffff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.container_4__price_points_point:hover {
   background-color: #4169E1;
}

.container_4__price_points_point1:hover {
    background-color: #4169E1;
 }

 .container_4__price_points_point2:hover {
    background-color: #4169E1;
 }

 .container_4__price_points_point3:hover {
    background-color: #4169E1;
 }

 .container_4__price_points_point4:hover {
    background-color: #4169E1;
 }

 .container_4__price_points_point5:hover {
    background-color: #4169E1;
 }

 /*  section_3  */

.section_4 {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
    background-color: #E0E0E0;
}

.container_5 {
    width: 1400px;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section_4__text {
    align-self: start;
    margin-top: 10px;
}

.section_4__text h4 {
    font-size: 42px;
    font-weight: 500;
}

.section_4__text p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}

.section_4__text p span {
    color: #352E6F;
}

.section_4__form_text {
    
    color: #010101;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}

.section_4__form input {
    margin-top: 5px;
    width: 350px;
    height: 45px;
    border: 1px solid #8B8B8B;
    background-color: #E0E0E0;
    border-radius: 10px;
    text-align: center;
}

.text2 {
    margin-top: 10px;
}

#section_4__form_button {
    background-color: #352E6F;
    color: #E0E0E0;
    margin-top: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: all 0.5s;
}

#section_4__form_button:hover {
    box-shadow: 4px 4px 4px 0px #000;
}

.section_4__form__checkbox input {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#section_4__form__checkbox_checkmark {
    background-color: #fff;
}

.section_4__form__checkbox label {
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
}

.section_4__form__checkbox label a {
    color: #352E6F;
}

.section_4__form__checkbox {
    height: 30px;
    width: 350px;
    display: flex;
    align-items: center;    
}


/* section_4 */


.section_5 {
    height: 1200px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}

.container_6 {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section_5__textTitle {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.section_5__commonblock {
    background-color: #E7E7E7;
    width: 996px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}   

.section_5__commonblock_text {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section_5__commonblock_text p {
    font-size: 24px;
    font-weight: 400;
}

.section_5__commonblock_comments {
    display: flex;
    gap: 20px;
}